/* Rotation for TopNav icon */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body {
	font-family: Oswald, Arial Narrow, Roboto;
	font-size: 1em;
	/*background-color: #343a40;*/
	background-color: #202020;
	color: #EEE;
}

.dark, .dropdown-menu-dark {
	background-color: #202020;
	color: #EEE;
}

.darkcard {
	background-color: #242424;
	border-color: #EEE;
}

.orange {
	/*background-color: #dd7d00;*/
	/*color: #343a40;*/
	background-color: #c54c21;
	color: #262a2d;
}

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #c54c21 !important;
	border-color: #262a2d !important;
	color: #262a2d !important;
}

/*
.card {
	border-color: #c54c21 !important;
}
*/

.eqtable {
	border: 1px solid #888;
}

/* All headings use Cinzel font */
h1, h2, h3, h4, h5, h6 {
	font-family: Anton;
	text-transform: uppercase;
}

.cinzel {
	font-family: Anton;
	text-transform: uppercase;
}

.orange a, .orange a:link, .orange a:visited, .orange a:hover, .orange a:active 
{
	cursor: pointer;
	color: #262a2d;
	text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active,
.dropdown-menu-dark a, .dropdown-menu-dark a:link, .dropdown-menu-dark a:visited, .dropdown-menu-dark a:hover, .dropdown-menu-dark a:active
{
	cursor: pointer;
	color: #EEE;
	/*text-decoration: none;*/
}

.bold {
	font-weight: bold;
}
.light {
	font-weight: 200;
}

.center {
	text-align: center;
}

th, td {
	vertical-align: top;
}

.line-top
{
	border-top: 1px solid #000;
}

.line-top-light
{
	border-top: 1px solid #CCC;
}

.line-bottom
{
	border-bottom: 1px solid #000;
}

.line-bottom-light
{
	border-bottom: 1px solid #CCC;
}

.shadow
{
	box-shadow: 20px 20px 20px 20px #aaaaaa;
}

.pointer
{
	cursor: pointer;
}

.dropdown-menu-dark {
	border: 1px solid #eee;
}

@media print {
	* {-webkit-print-color-adjust:exact;}
	
	.fas, .far {
		display: none;
	}
	
	.card {
		page-break-inside: avoid;
		page-break-before:auto;
		page-break-after:auto;
	}
	
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
	{
		float: left;
	}
	.col-sm-12, .col-12 {
		width: 50%;
	}
	.col-sm-11, .col-11 {
		width: 91.66666667%;
	}
	.col-sm-10, .col-10 {
		width: 83.33333333%;
	}
	.col-sm-9, .col-9 {
		width: 75%;
	}
	.col-sm-8, .col-8 {
		width: 66.66666667%;
	}
	.col-sm-7, .col-7 {
		width: 58.33333333%;
	}
	.col-sm-6, .col-6 {
		width: 50%;
	}
	.col-sm-5, .col-5 {
		width: 41.66666667%;
	}
	.col-sm-4, .col-4 {
		width: 33.33333333%;
	}
	.col-sm-3, .col-3 {
		width: 25%;
	}
	.col-sm-2, .col-2 {
		width: 16.66666667%;
	}
	.col-sm-1, .col-1 {
		width: 8.33333333%;
	}
}