/* Rotation for TopNav icon */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body {
	font-family: Oswald, Arial Narrow, Roboto, sans-serif;
	font-size: 1em;
	/*background-color: #343a40;*/
	background-color: #202020;
	color: #EEE;
}

.dark, .dropdown-menu-dark {
	background-color: #202020;
	color: #EEE;
}

.darkcard {
	background-color: #242424;
	border-color: #EEE;
}

.orange {
	/*background-color: #dd7d00;*/
	/*color: #343a40;*/
	background-color: #c54c21;
	color: #262a2d;
}

.orangetext {
	color: #c54c21;
}

.greytext {
	color: #888;
}

.dottedline {
	text-decoration: underline dashed;
}

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: #c54c21 !important;
	border-color: #262a2d !important;
	color: #262a2d !important;
}

input {
    accent-color: #c54c21;
}

/*
.card {
	border-color: #c54c21 !important;
}
*/

.eqtable {
	border: 1px solid #888;
}

table, tr, th, td {
	padding-left: 5px;
	padding-right: 5px;
}

/* All headings use Cinzel font */
h1, h2, h3, h4, h5, h6 {
	font-family: Anton;
	text-transform: uppercase;
}

.cinzel {
	font-family: Anton;
	text-transform: uppercase;
}

.orange a, .orange a:link, .orange a:visited, .orange a:hover, .orange a:active 
{
	cursor: pointer;
	color: #262a2d;
	text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active,
.dropdown-menu-dark a, .dropdown-menu-dark a:link, .dropdown-menu-dark a:visited, .dropdown-menu-dark a:hover, .dropdown-menu-dark a:active
{
	cursor: pointer;
	color: #EEE;
	/*text-decoration: none;*/
}

.bold {
	font-weight: bold;
}
.light {
	font-weight: 200;
}

.center {
	text-align: center;
}

th, td {
	vertical-align: top;
}

.line-top
{
	border-top: 1px solid #000;
}

.line-top-light
{
	border-top: 1px solid #CCC;
}

.line-bottom
{
	border-bottom: 1px solid #000;
}

.line-bottom-light
{
	border-bottom: 1px solid #CCC;
}

.shadow
{
	box-shadow: 20px 20px 20px 20px #aaaaaa;
}

.pointer
{
	cursor: pointer;
}

.dropdown-menu-dark {
	border: 1px solid #eee;
}

@media print {
	body {
		color: #000;
	}
	
	.fas, .far {
		display: none;
	}

	/* Unordered Lists */
	ul {
		padding-left: 20px;
		padding-right: 0px;
	}
	
	.card {
		page-break-inside: avoid;
		page-break-before:auto;
		border: 1px solid #000;
	}
	
	.opcard {
		height: 100%;
		width: 400px !important;
		height: 600px !important;
	}
	
	.noprint {
		display: none;
	}

	hr {
		color: #000;
	}
}


/* TOAST */
/* The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #c54c21; /* Orange background */
	color: #262a2d; /* Dark dark grey font */
    text-align: center; /* Centered text */
	border: 2px solid #000;
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */
	font-family: oswald;
	font-size: 1.10em;
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the toast */

/* Add animation: Take 0.5 seconds to fade in and out the toast. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
