<!DOCTYPE html>
<html>
	<head>
		<!--#include virtual="header.shtml" -->
		
		<!-- OpenGraph/Twitter Meta Tags -->
		<!-- Title -->
		<title>Home | KTDash.app</title>
		<meta property="og:title"  content="Home | KTDash.app">
		<meta name="twitter:title" content="Home | KTDash.app">
		<meta name="keywords" content="killteam, Kill Team, kill team roster builder, Octarius, Warhammer, 40000, 40k, wh40k, Roster, Battle Scribe, Printable, Card, Datacard, KTDash, dashboard">
		<!-- Description -->
		<meta name="description"         content="KTDash is a web-based application for KillTeam 2021 - Run your KillTeam 2021 games, build your rosters and teams, and browse the compendium.">
		<meta property="og:description"  content="KTDash is a web-based application for KillTeam 2021 - Run your KillTeam 2021 games, build your rosters and teams, and browse the compendium.">
		<meta name="twitter:description" content="KTDash is a web-based application for KillTeam 2021 - Run your KillTeam 2021 games, build your rosters and teams, and browse the compendium.">
		<!-- URL -->
		<meta property="og:url"      content="https://ktdash.app/">
		<meta property="twitter:url" content="https://ktdash.app/">
		<!-- Image -->
		<meta property="og:image"  content="https://ktdash.app/img/og/Home.png">
		<meta name="twitter:image" content="https://ktdash.app/img/og/Home.png">
		<style>
		<!--#include virtual="/css/styles.css" -->
		</style>
	</head>
	<body ng-app="kt" ng-controller="ktCtrl" ng-init="initHome();" class="p-0 m-0 oswald">
		<!--#include virtual="topnav.shtml" -->
		<!--#include virtual="templates/dialogs.shtml" -->	
		
		<div class="m-0 p-0"
			style="
				background: linear-gradient(rgba(32, 32, 32, 0.5), rgba(32, 32, 32, .75), rgba(32, 32, 32, 1)), url('/img/homesplash_5.jpg');
				background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;">
			
			<br/>
			
			<h1 class="m-0 p-0 text-center" style="font-size: 64px;">
				KTDash
			</h1>
			
			<div class="align-items-center m-0 p-0 mt-2 p-3 row">
				<div class="col-md-2 col-xl-3">&nbsp;</div>
				<div class="col-12 col-md-8 col-xl-6">
					KTDash is a web-based application for running your KillTeam 2021 games.
					<ul>
						<li>
							Browse the <a class="navloader" href="/allfactions">Factions</a>
						</li>
						<li>
							<a ng-if="currentuser != null" class="navloader" href="/u">Build your rosters</a>
							<span ng-if="currentuser == null">Build your rosters</span>
							or import a <a href="/u/KTDash">pre-built roster</a>
						</li>
						<li>
							Generate <a class="navloader" href="/name.htm">names</a> for your operatives
						</li>
						<li>
							Use the
							<a ng-if="currentuser != null" class="navloader" href="/dashboard">Dashboard</a>
							<span ng-if="currentuser == null">Dashboard</span>
							to play your games
							<span class="d-none d-lg-inline">
								and track operative wounds, TacOps, Ploys, operative orders and activation, TP/CP/VP, and more
							</span>
						</li>
					</ul>
				</div>
				<div class="col-md-2 col-xl-3">&nbsp;</div>
			</div>
			<div class="align-items-center m-0 p-0 mt-2 p-3 text-center" ng-if="currentuser == null">
				<h4 class="orange btn btn-primary"><a href="/signup.htm">Sign Up</a></h4>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<h4 class="orange btn btn-primary"><a href="/login.htm">Log In</a></h4>
			</div>
		</div>
		
		<!-- div class="m-0 p-0 row orange cinzel text-center h4">
			<div class="col-4">
				<a class="nav-link navloader" href="/dashboard"><span class="fas fa-dice fa-fw"></span><span class="d-none d-md-inline">&nbsp;Dashboard</span></a>
			</div>
			<div class="col-4">
				<a class="nav-link navloader" href="/u"><span class="fas fa-users fa-fw"></span><span class="d-none d-md-inline">&nbsp;My Rosters</span></a>
			</div>
			<div class="col-4">
				<a class="nav-link navloader" href="/allfactions"><span class="fas fa-book-dead fa-fw"></span><span class="d-none d-md-inline">&nbsp;Factions</span></a>
			</div>
		</div -->
		
		<div class="m-0 p-0 row">
			<!-- div class="m-0 p-0 col-12 col-md-6">
				<h3 class="orange">
					<a class="nav-link navloader" href="/u">
						<span class="fas fa-users fa-fw"></span> My Rosters
					</a>
				</h3>
				<ul>
					<li ng-repeat="roster in myRosters">
						<a class="navloader" href="/r/{{ roster.rosterid }}">{{ roster.rostername }}</a>
					</li>
					<li>
						<a class="navloader" href="/u/KTDash">Pre-built rosters</a>
					</li>
				</ul>
			</div -->
			
			<div class="m-0 p-0 col-12 col-md-4 h-100">
				<!-- Random Spotlighted Roster -->
				<h3 class="orange">
					<a class="nav-link navloader" href="/r/{{ myRoster.rosterid }}">
						<i class="fas fa-star fa-fw" data-bs-toggle="tooltip" data-bs-placement="top" title="Spotlight"></i>
						Roster Spotlight
					</a>
				</h3>
				<!--#include virtual="templates/roster_card.shtml" -->
			</div>
			<div class="m-0 p-0 col-12 col-md-8">
				<h3 class="orange">
					<a class="nav-link navloader" href="/allfactions">
						<span class="fas fa-book-dead fa-fw"></span> Factions
					</a>
				</h3>
				<div style="column-width: 150px;">
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/AEL">Aeldari</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/BOK">Blades Of Khaine</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/COM">Commorrites</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/COR">Corsair Voidscarred</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/CW">Craftworld</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/HOTA">Hand Of The Archon</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/MND">Mandrakes</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/TRP">Troupe (Outdated)</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/AEL/kt/VDT">Void-Dancer Troupe</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/CHAOS">Chaos</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/BLD">Blooded</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/CULT">Chaos Cultists</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/CSM">Traitor Space Marines</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/DAEM">Chaos Daemons</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/DG">Death Guard</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/FELL">Fellgor Ravagers</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/GPI">Gellerpox Infected</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/LEG">Legionaries</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/NC">Nemesis Claw</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/TS">Thousand Sons (Outdated)</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/CHAOS/kt/WC">Warp Coven</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/IMP">Imperium</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/AES">Exaction Squad</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/ECC">Ecclesiarchy</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/ESS">Elucidian Starstriders</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/FW">Forge World (Outdated)</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/GK">Grey Knights</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/HC">Hunter Clade</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/HKS">Hearthkyn Salvagers</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/IG">Imperial Guard</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/INB">Imperial Navy Breachers</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/INQ">Inquisitorial Agents</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/INTS">Intercession Squad</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/KAS">Kasrkin</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/NOV">Novitiates</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/PHO">Phobos Strike Team</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/SM">Space Marines</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/SCT">Scout Squad</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/SFJ">Strike Force Justian</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/TOE">Talons of the Emperor</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/IMP/kt/VG">Veteran Guardsmen</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/NEC">Necrons</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/NEC/kt/HIER">Hierotek Circle</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/NEC/kt/TW">Tomb World</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/ORK">Orks</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/ORK/kt/GSK">Greenskins</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/ORK/kt/KOM">Kommandoz</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/TAU">T'au Empire</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TAU/kt/CM">Cadre Mercenaries</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TAU/kt/FSKB">Farstalker Kinband</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TAU/kt/HC">Hunter Cadre</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TAU/kt/PF">Pathfinders</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/TYR">Tyranids</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TYR/kt/BC">Brood Coven</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TYR/kt/HF">Hive Fleet</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/TYR/kt/WB">WyrmBlade</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/SPEC">Special Teams</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/SPEC/kt/ATP">Apprehend The Prisoner</a><br/>
					</div>
					
					<div style="break-inside: avoid;" class="line-top-light">
					<h6><a class="navloader" href="/fa/HBR">Homebrew Teams</a></h6>
					&nbsp;&nbsp;<a class="navloader" href="/fa/HBR/kt/AEF">Assassin Execution Force</a><br/>
					&nbsp;&nbsp;<a class="navloader" href="/fa/HBR/kt/SHV">Space Hulk Veterans</a><br/>
					</div>
				</div>
			</div>
			<div class="m-0 p-0 col-12">
				<h3 class="orange">
					<a class="nav-link navloader" href="/news.htm">
						<span class="far fa-newspaper fa-fw"></span> News
					</a>
				</h3>
				<ul>
					<li>
						<strong>20 Apr 2024</strong><br/>
						New Homebrew <a href="https://ktdash.app/fa/HBR/kt/SHV">Space Hulk Veterans</a> killteam loaded! 
					</li>
					<li>
						<strong>06 Apr 2024</strong><br/>
						Two new killteams loaded! <a href="https://ktdash.app/fa/AEL/kt/MND">Mandrakes</a> and <a href="https://ktdash.app/fa/CHAOS/kt/NC">Nemesis Claw</a>
					</li>
					<li>
						<strong>27 Mar 2024</strong><br/>
						Balance dataslate is loaded!
					</li>
					<li>
						<strong>22 Mar 2024</strong><br/>
						Redid all roster printing options, with new Card formats (Poker or Tarot, Vertical or Horizontal)
					</li>
					<li>
						<strong>14 Mar 2024</strong><br/>
						Errata applied!
						Updated teams:
						<ul>
							<li>Void-Dancer Troupe</li>
							<li>Pathfinders</li>
							<li>Novitiates</li>
							<li>Kommandoz</li>
							<li>Inquisitorial Agents</li>
							<li>Hierotek Circle</li>
							<li>Hand of the Archon</li>
							<li>Fellgor Ravagers</li>
							<li>Chaos Cult</li>
							<li>Blooded</li>
						</ul>
					</li>
					<li>
						<strong>02 Mar 2024</strong><br/>
						Narrative Info: You can now fill in your roster's Requisition Points, Strategic Asset Notes, Equipment Notes, and SpecOps notes.
						New roster menu option "Narrative Info" (if you have Narrative info enabled in your <a href="/settings.php">Settings</a>).
						In addition, that same setting also enables a Rested tracker for your operatives.
					</li>
					<li>
						<strong>08 Feb 2024</strong><br/>
						New "homebrew" faction and first killteam is loaded!<br/>
						<a href="https://ktdash.app/fa/HBR/kt/AEF">Assassin Execution Force</a>
					</li>
					<li>
						<strong>23 Jan 2024</strong><br/>
						New setting for those who don't like operative names: You can now select whether to show the operative's name or its type first.
					</li>
					<li>
						<strong>25 Dec 2023</strong><br/>
						Two new killteams loaded!<br/>
						<a href="/fa/IMP/kt/SCT">Scout Squad</a> and <a href="/fa/AEL/kt/BOK">Blades of Khaine</a>!
					</li>
					<li>
						<a href="news.htm">More News</a>
					</li>
				</ul>
			</div>
		</div>
		<!--#include virtual="footer.shtml" -->
	</body>
</html>
