<!DOCTYPE html>
<html lang="en">

	<head>
		<!--#include virtual="header.shtml" -->
		
		<!-- OpenGraph/Twitter Meta Tags -->
		<!-- Title -->
		<title>Log In | KTDash.app</title>
		<meta property="og:title"  content="Log In | KTDash.app">
		<meta name="twitter:title" content="Log In | KTDash.app">
		<!-- Description -->
		<meta name="description"         content="Manage your KillTeam 2021 teams and roster">
		<meta property="og:description"  content="Manage your KillTeam 2021 teams and roster">
		<meta name="twitter:description" content="Manage your KillTeam 2021 teams and roster">
		<!-- URL -->
		<meta property="og:url"      content="https://ktdash.app/login.htm">
		<meta property="twitter:url" content="https://ktdash.app/login.htm">
		<!-- Image -->
		<meta property="og:image"  content="https://ktdash.app/img/og/MyTeams.png">
		<meta name="twitter:image" content="https://ktdash.app/img/og/MyTeams.png">
	</head>
	<body id="page-top" ng-app="kt" ng-controller="ktCtrl" ng-init="initLogin();">
		<!--#include virtual="topnav.shtml" -->
		<div id="divmain" class="container">
			
			<!-- Login Form -->
			<h1 class="cinzel"><span class="fas fa-lock"></span>&nbsp;&nbsp;Log In</h1>

			<form class="frmlogin" ng-submit="login();">
				<label for="username">UserName</label>
				<input type="text" name="username" id="username" class="form-control" ng-model="loginform.username" placeholder="User Name" required autofocus>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" ng-model="loginform.password" placeholder="Password" required>
				
				<br />
				
				<button class="btn btn-primary" type="submit">Log in</button>
				
				<br />
				<br />

				Don't have an account?
				<a href="/signup.htm">Sign Up here!</a>

				<center>
					<div id="loginwaiter">
						<!-- Show loading gif by default -->
						<img src="/img/waitsmall.gif" />
						<br />
						Logging In...
					</div>
				</center>
				
				<div class="alert alert-danger" ng-show="loginform.error != null">
					{{loginform.error}}
				</div>
			</form>
		
			<!--#include virtual="footer.shtml" -->
		</div>
	</body>
</html>
