<!DOCTYPE html>
<html>
	<head>
		<!--#include virtual="header.shtml" -->
		
		<!-- OpenGraph/Twitter Meta Tags -->
		<!-- Title -->
		<title>My Teams | KTDash.app</title>
		<meta property="og:title"  content="My Teams | KTDash.app">
		<meta name="twitter:title" content="My Teams | KTDash.app">
		<!-- Description -->
		<meta name="description"         content="Manage your KillTeam 2021 teams and roster">
		<meta property="og:description"  content="Manage your KillTeam 2021 teams and roster">
		<meta name="twitter:description" content="Manage your KillTeam 2021 teams and roster">
		<!-- URL -->
		<meta property="og:url"      content="https://ktdash.app/myteams.htm">
		<meta property="twitter:url" content="https://ktdash.app/myteams.htm">
		<!-- Image -->
		<meta property="og:image"  content="https://ktdash.app/img/og/MyTeams.png">
		<meta name="twitter:image" content="https://ktdash.app/img/og/MyTeams.png">
	</head>
	<body ng-app="kt" ng-controller="ktCtrl" ng-init="init();">
		<!--#include virtual="topnav.shtml" -->
			
		<!-- Dialogs -->
		<!--#include virtual="templates/dialogs.shtml" -->
		
		<!-- Help Box -->
		<div class="modal fade oswald" id="myteamshelp" tabindex="-1" role="dialog" aria-labelledby="selectteamopsmodallabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content dark">
					<div class="modal-header orange">
						<h5 class="modal-title cinzel" id="selectteamopsmodallabel">My Teams - Help</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="m-0 modal-body dark">
						Manage your KillTeams and Rosters here.
						<br/><br/>
						<h3>Teams</h3>
						&nbsp;&nbsp;<i class="fas fa-arrow-up fa-fw"></i> Move Team Up</br>
						&nbsp;&nbsp;<i class="fas fa-arrow-down fa-fw"></i> Move Team Down</br>
						&nbsp;&nbsp;<i class="far fa-plus-square fa-fw"></i> Add Operative to Team</br>
						&nbsp;&nbsp;<i class="fas fa-edit fa-fw"></i> Rename Team</br>
						&nbsp;&nbsp;<i class="fas fa-share-square fa-fw"></i> Share Team/Generate Link</br>
						&nbsp;&nbsp;<i class="far fa-copy fa-fw"></i> Copy Team</br>
						&nbsp;&nbsp;<i class="fas fa-print fa-fw"></i> Print Team</br>
						&nbsp;&nbsp;<i class="fas fa-trash-alt fa-fw"></i> Delete Team
						<br/><br/>
						<h3>Operatives</h3>
						&nbsp;&nbsp;<i class="fas fa-arrow-up fa-fw"></i> Move Operative Up</br>
						&nbsp;&nbsp;<i class="fas fa-arrow-down fa-fw"></i> Move Operative Down</br>
						&nbsp;&nbsp;<i class="fas fa-edit fa-fw"></i> Edit Operative</br>
						&nbsp;&nbsp;<i class="fas fa-print fa-fw"></i> Print Operative Card</br>
						&nbsp;&nbsp;<i class="fas fa-trash-alt fa-fw"></i> Delete Operative
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			trackEvent("myteams", "viewmyteams");
		</script>
		
		<h1 class="cinzel orange">My Teams</h1>
		
		<!-- Show this player's teams -->
		<div class="container">
			<div ng-if="myteams.length < 1" class="oswald">
				You don't have any Teams yet.
			</div>
			<div class="oswald">
				<span class="float-start">
					Import a <a href="sampleteams.htm">pre-built team</a> or build a <a href="#" ng-click="initNewTeam();">new team</a>.
				</span>
				<span class="float-end">
					<i id="myteamshelpbutton" class="far fa-question-circle fa-fw" onclick="$('#myteamshelp').modal('show');"></i>
				</span>
			</div>
			
			<div ng-if="myteams.length > 0" ng-repeat="team in myteams track by $index">
				<br/>
				<div class="row orange">
					<div class="cinzel col-12">
						<h3 class="cinzel orange" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#teamops_{{$index}}">
							<i class="fas fa-chevron-down fa-fw"></i>
							{{ team.teamname }}
						</h3>
					</div>
				</div>
				<div class="row orange">
					<small class="col-8 oswald" ng-bind="'Archetype: ' + getTeamArchetype(team)"></small>
					<div class="col-4 oswald text-end">
						<em class="oswald small">
							<a class="orange" href="/killteam.php?fa={{ team.factionid }}&kt={{ team.killteamid }}">
								{{ getTeamTypeName(team) }}
							</a>
						</em>
					</div>
				</div>
				<div class="row oswald orange">
					<div class="col-12">
						<i class="fas fa-arrow-up fa-fw" ng-click="moveTeamUp(team, $index);"></i>
						<i class="fas fa-arrow-down fa-fw" ng-click="moveTeamDown(team, $index);"></i>
						<i class="far fa-plus-square fa-fw" ng-click="initAddOp(team);"></i>
						<i class="fas fa-edit fa-fw" ng-click="initRenameTeam(team);"></i>
						<i class="fas fa-share-square fa-fw" ng-click="trackEvent('myTeams', 'getshareurl'); showShareTeam(team);"></i>
						<i class="far fa-copy fa-fw" ng-click="cloneTeam(team, $index);"></i>
						<i class="fas fa-print fa-fw" ng-click="initPrintTeam(team);"></i>
						<i class="fas fa-trash-alt fa-fw" ng-click="initDeleteTeam(team);"></i>
					</div>
				</div>
				<div id="teamops_{{$index}}" ng-if="team.operatives.length == 0" class="oswald collapse show">
					(You don't have any operatives in this team)
				</div>
				<div id="teamops_{{$index}}" ng-if="team.operatives.length > 0" class="collapse show">
					<div ng-if="team.operatives.length > 0" ng-repeat="operative in team.operatives track by $index">
						<div class="row">
							<div class="col-7 cinzel">
								<div class="h4 cinzel">{{ operative.opname }}</div>
							</div>
							<div class="col-5 text-end oswald">
								<i class="fas fa-arrow-up fa-fw" ng-click="moveOpUp(team, operative, $index);"></i>
								<i class="fas fa-arrow-down fa-fw" ng-click="moveOpDown(team, operative, $index);"></i>
								<i class="fas fa-edit fa-fw" ng-click="initEditOp(operative, team);"></i>
								<a class="dark" ng-href="/operative.php?fa={{ operative.factionid }}&kt={{ operative.killteamid }}&ft={{ operative.fireteamid }}&op={{ operative.opid }}&opname={{ operative.opname }}&weps={{ operative.wepids}}" target="_blank"><i class="fas fa-print fa-fw"></i></a>
								<i class="fas fa-trash-alt fa-fw" ng-click="initRemoveOperative(operative, team);"></i>
							</div>
						</div>
						<div class="container oswald">
							<em>{{ operative.fireteam.fireteamname }} - {{ operative.optype }}</em>
							<br/>
							<span ng-repeat="weapon in operative.weapons" class="d-inline">				
								<ANY ng-switch="weapon.weptype" class="fas fa-fw">
								  <ANY ng-switch-when="R">&#x2295;</ANY>
								  <ANY ng-switch-when="M">&#x2694;</ANY>
								  <ANY ng-switch-default>&#x26ED;</ANY>
								</ANY>
								{{ weapon.wepname }}
								{{$last ? '' : ', '}}							
							</span>
						</div>
						<hr/>
						
						<!-- div class="row cinzel text-center line-top-light">
							<div class="col-8 text-start">
								{{ operative.opname }}<br/>
								<em class="small oswald">({{ operative.optype }}) </em>
							</div>
							<div class="col-4 text-end oswald">
								<i class="fas fa-arrow-up fa-fw" ng-click="moveOpUp(team, operative, $index);"></i>
								<i class="fas fa-arrow-down fa-fw" ng-click="moveOpDown(team, operative, $index);"></i>
								<i class="fas fa-edit fa-fw" ng-click="initEditOp(operative, team);"></i>
								<i class="fas fa-trash-alt fa-fw" ng-click="initRemoveOperative(operative, team);"></i>
							</div>
						</div>
						<div class="row cinzel text-center">
							<div class="col-2">M</div>
							<div class="col-2">APL</div>
							<div class="col-2">GA</div>
							<div class="col-2">DF</div>
							<div class="col-2">SV</div>
							<div class="col-2">W</div>
						</div>
						<div class="row cinzel text-center">
							<div class="col-2" ng-bind-html="operative.M"></div>
							<div class="col-2" ng-bind-html="operative.APL"></div>
							<div class="col-2" ng-bind-html="operative.GA"></div>
							<div class="col-2" ng-bind-html="operative.DF"></div>
							<div class="col-2" ng-bind-html="operative.SV"></div>
							<div class="col-2" ng-bind-html="operative.W"></div>
						</div>
						
						<div class="oswald">
							<span ng-repeat="weapon in operative.weapons" class="d-inline">
								{{ weapon.weptype == "R" ? "&#x2295;" : "&#x2694;" }} {{ weapon.wepname }}
								{{$last ? '' : ', '}}							
							</span>
						</div -->
					</div>
					<br/>
				</div>
			</div>
		</div>
		<!--#include virtual="footer.shtml" -->
	</body>
</html>