<!DOCTYPE html>
<html>
	<head>
		<!--#include virtual="/header.shtml" -->
		<title>My Teams | KTDash.app</title>
	</head>
	<body ng-app="kt" ng-controller="ktCtrl" ng-init="initSession();initMyTeams();">
		<!--#include virtual="/topnav.shtml" -->
		
		<h1 class="orange"><span class="fas fa-users fa-fw"></span>&nbsp;My Teams</h1>
		
		<!-- loadWaiter -->
		<h3 class="center" ng-show="loading">
			<div>
				<i class="fas fa-undo-alt fa-fw rotate" ></i>
				<br />
				Loading Teams...
			</div>
		</h3>
		
		<!-- Show this player's teams -->
		<div class="container-fluid" ng-hide="loading">
			<div ng-if="myTeams.length < 1" >
				You don't have any Teams yet.
			</div>
			<div>
				<span class="float-start">
					Build a <a href="#" ng-click="initNewTeam();">new team</a> or import a <a href="sampleteams.htm">pre-built team</a>
				</span>
				<span class="float-end">
					<i id="myteamshelpbutton" class="far fa-question-circle fa-fw" onclick="$('#myteamshelp').modal('show');"></i>
				</span>
			</div>
			<br/>
			
			<div ng-if="myTeams.length > 0" ng-repeat="myTeam in myTeams track by $index">
				<br/>
				<h1 class="orange">{{ myTeam.userteamname }}</h1>
				
				<div ng-repeat="myOp in myTeam.operatives track by $index">
					<h3>{{myOp.opname}}</h3>
					<ul>
						<li ng-repeat="weapon in myOp.weapons track by $index">
							{{weapon.wepname}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--#include virtual="/footer.shtml" -->
	</body>
</html>