<!DOCTYPE html>
<html lang="en">
	<head>
		<!--#include virtual="/header.shtml" -->
		<title>Password Reset | KTDash.app</title>
		<meta name="description" content="Password Reset | KTDash.app">
		<meta name="keywords" content="sign up, register, killteam, Kill Team, kill team roster builder, Octarius, Warhammer, 40000, 40k, wh40k, Roster, Battle Scribe, Printable, Card, Datacard, KTDash, dashboard">
		
		<!-- OpenGraph Tags -->
		<meta property="og:url" content="https://ktdash.app/passwordreset.htm">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Password Reset | KTDash.app">
		<meta property="og:description" content="Password Reset | KTDash.app">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="ktdash.app">
		<meta property="twitter:url" content="https://ktdash.app/passwordreset.htm">
		<meta name="twitter:title" content="Password Reset | KTDash.app">
		<meta name="twitter:description" content="Password Reset | KTDash.app">
		<style>
		<!--#include virtual="/css/styles.css" -->
		</style>
	</head>
	<body ng-app="kt" ng-controller="ktCtrl" ng-init="initPasswordReset();">
		<!--#include virtual="/topnav.shtml" -->
		
		<h1 class="orange"><i class="fas fa-user fa-fw"></i>&nbsp;&nbsp;Password Reset</h1>
		
		<div class="container">
			<form class="frmregister" ng-submit="resetPassword();">
				<input type="hidden" name="username" id="username" value="{{ currentuser.username}}" />
				<h5><label for="password">New Password</label></h5>
				<input type="password" name="password" id="password" class="form-control" ng-model="passwordResetForm.password" placeholder="New Password" required>
				
				<h5><label for="confirmpassword">Confirm New Password</label></h5>
				<input type="password" name="confirmpassword" id="confirmpassword" class="form-control" ng-model="passwordResetForm.confirmPassword" placeholder="Confirm New Password" required>
				
				<button class="btn btn-primary" type="submit">Reset Password</button>
				
				<br />
				<br />

				<h3 class="center" ng-show="loading">
					<i class="fas fa-undo-alt fa-fw rotate" ></i>
					<br />
					Resetting Password...
				</h3>

				<div class="alert alert-danger" ng-show="passwordResetForm.error != null">
					{{passwordResetForm.error}}
				</div>
			</form>
		</div>
		<!--#include virtual="/footer.shtml" -->
	</body>
</html>
