<!DOCTYPE html>
<html>
	<head>
		<!--#include virtual="header.shtml" -->
		
		<!-- OpenGraph/Twitter Meta Tags -->
		<!-- Title -->
		<title>Settings | KTDash.app</title>
		<meta property="og:title"  content="Settings | KTDash.app">
		<meta name="twitter:title" content="Settings | KTDash.app">
		<!-- Description -->
		<meta name="description"         content="Settings and tools for KillTeam 2021">
		<meta property="og:description"  content="Settings and tools for KillTeam 2021">
		<meta name="twitter:description" content="Settings and tools for KillTeam 2021">
		<!-- URL -->
		<meta property="og:url"      content="https://ktdash.app/settings.htm">
		<meta property="twitter:url" content="https://ktdash.app/settings.htm">
	</head>
	<body ng-app="kt" ng-controller="ktCtrl" ng-init="init();">
		<!--#include virtual="topnav.shtml" -->
			
		<!-- Dialogs -->
		<!--#include virtual="templates/dialogs.shtml" -->
		
		<script type="text/javascript">
			trackEvent("tools", "settings", "");
		</script>
		
		<h1 class="orange cinzel">Settings &amp; Tools</h1>
		
		<!-- Tools -->
		<div class="container">
			<h2 class="orange cinzel">Install</h2>
			<div class="container oswald">
				Click <a href="#" onclick="$('#installmodal').modal('show');">here</a> to install this app on your phone.
				<br/><br/>
			</div>
			
			<h2 class="orange cinzel">Tools</h2>
			<a class="oswald dark" href="/name.htm"><span class="fas fa-user fa-fw"></span>&nbsp;Name Generator</a>
			<br/><br/>
			
			<h2 class="orange cinzel">Settings</h2>
			
			<div class="container oswald">
				<h4 class="cinzel">Distances</h4>
				Show distances as:
				<select class="form-control oswald" ng-model="settings.distance">
					<option value="shapes">Shapes</option>
					<option value="inches">Inches</option>
				</select>
			</div>
			
			<br/>
			
			<div class="container oswald">
				<h4 class="cinzel">Portraits</h4>
				<input type="checkbox" ng-model="settings.dashportraits"> Show operative portraits on Dashboard
			</div>
			<br/>
			
			<button class="btn btn-primary oswald" ng-click="saveSettings();">Save</button>
		</div>
		<!--#include virtual="footer.shtml" -->
	</body>
</html>